itsdangerous==0.24
MarkupSafe==0.23
Werkzeug==0.10.1
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Jinja2==2.8
numpy==1.10.1
pandas==0.17.1
nltk==3.1
wordcloud==1.2
-e git:http://github.com/biplab-iitb/practNLPTools#egg=practnlptools
matplotlib==1.5.0
