<!DOCTYPE html>
<html lang="en" ng-app="State_of_Obama_App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>State of Obama 0.1 - What would Obama say from the SOTU?</title>
        <!-- Bootstrap Core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../static/css/grayscale.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="../static/app.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="static/js/jquery.easing.min.js"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <div class="container trump-face" style="height:100vh; width:100vw;">
            <div class="row" style="height:20vw;"></div>
            <div class="row" style="height:20px;"></div>
            <div class="row">
                <div class="col-md-3" ></div>
                <div class="col-md-6">
                    <div class="row text-center intro-text">
                        <h2>Congratulations!</h2> 
                        <h4>You've reached Obama State of the Union!</h4>
                        <h4>This is your chance to ask me anything.</h4>
                    </div>
                    <div class="row">
                        <div class="center-block">
                            <trump/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" style="height:30px;"></div>
        </div>
        <footer>
            <div class="container text-center">
                <div id="counterInclude"></div>
                <br />
                <div class="copyright"> &copy; J. Shuman 2016<br />
                    Header image courtesy of <a href="https://commons.wikimedia.org/wiki/File:Obama_waves_State_of_the_Union_2011.jpg">Chuck Kennedy</a>
                </div>
            </div>
        </footer>
        <!-- Plugin JavaScript -->
    </body>
</html>
Status API Training Shop Blog About Pricing
